html {
    scroll-behavior: smooth;
}

*{
    text-align: center;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: grid;
    grid grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: 1fr;
    grid-gap: 0.4rem;
}


/* This is the nav section of the page (Mobile view - 320px) */
nav {
    background-color: red;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

div ul li a:hover {
    color: black;
}

div ul li a:active {
    color: white;
}

.navigation ul li {
    list-style-type: none;
    margin-right: 2.5rem;
    margin-top: 0.4rem;
}

.social-links {
    display: flex;
    justify-content: space-evenly;
    max-width: 50%;
    margin: 0.4rem auto;
    position: relative;
    right: 1.2rem;
    top: -0.2rem;
}

.social-links li {
    list-style-type: none;
}

.social-img {
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    max-width: 100%;
    height: auto;  
} 

.social-img:hover {
    transform: scale(1.2);
}

/* This is the home page section for mobile view(320px) */
.sec-0 {
    background-image: url("/images/windowsbg.jpg");
    max-width: 100%;
    height: auto;
    width: auto;
    background-position: center center;
    background-size: cover;
    color: white;
}

/* Animation for homepage title */
.sec-0 .front-end {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: front-end;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
}
@keyframes front-end {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(20px);
    }
}

/* Animation for Web design and development */
.sec-0 .web-d {
    animation-name: web-dev;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-timing-function: ease-in-out;
    text-transform: uppercase;
}
@keyframes web-dev {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(-20px);
    }
}

.name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

/* Animation for my profile picture */
.profile-img {
    animation-name: gerald-img;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-timing-function:cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
@keyframes gerald-img {
    0% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}

/* Projects button */
.sec-0 > a {
    color: red;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.sec-0 a div {
    max-width: 1rem;
}

/* Profile picture */
.profile-img {
    max-width: 100%;
    height: 6rem;
    width: 6rem;
    background-image: url("/images/mrgeraldpropic.jpg");
    background-position:50% 5%;
    background-size: 15rem;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
}

/* Projects button */
.projects-btn {
    border: 2px solid white;
    width: 4rem;
    height: 3rem;
    padding: 0.4rem 0.8rem;
    margin: 4rem auto;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    background-color: red;
    font-weight: bold;
}
.projects-btn:hover {
    box-shadow: 2px 2px 10px 1px black;
    border: 2px solid white;
    cursor: pointer;
}
.projects-btn:active {
    background-color: white;
}
.pro-btn {
    width: fit-content;
    height: auto;
    margin: 1.5rem auto;
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
.pro-btn:hover {
    transform: scale(1.1); 
}

/* Skills section page, mobile view (320px) */
.section1 {
    background-color: yellow;
}

.section1 h2,h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section1 ul li {
    list-style-type: none;
    
}

.tech-skills {
    position: relative;
    right: 2rem;
    
}

.tech-skills li {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tech-skills span img {
    position: relative;
    left: 3rem; 
    top: -1.2rem;
    
}

/* Projects page, mobile view (320px) */
.section2 {
    background-color: white;
}

/* Contact section page mobile view (320px) */
footer {
    background-color: black;
}