html {
    scroll-behavior: smooth;
}

*{
    text-align: center;
    box-sizing: border-box;

}

body {
    margin: 1.8rem;
    background-color: darkgray;
    display: grid;
    grid grid-template-rows: repeat(auto-fit, auto);
    grid-template-columns: 1fr;
    grid-gap: 0.4rem;
}



header {
    border: 1px solid black;
    background-color: red;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

nav ul li a:hover {
    color: black;
}

nav ul li a:active {
    color: white;
}


nav ul li {
    list-style-type: none;
    margin-right: 2.5rem;
    margin-top: 0.4rem;
}


.social-links {
    display: flex;
    margin-left: 4rem;
    

}

.social-links li {
    list-style-type: none;
    

}

.social-img {
    transition-delay: 0.1s;
    transition-duration: 0.4s;
    max-width: 100%;
    height: auto;
    width: 2rem;
    border: 1px solid black;
    
} 

.social-img:hover {
    transform: scale(1.2);
}

.git-img {
    margin-left: -0.7rem;
    width: 3rem;
}

.linked-img {
    margin-left: 1rem;
}



.social-links li a {
    
}

.section0 {
    background-color: blue;
}

.section1 {
    background-color: yellow;
}

.section2 {
    background-color: white;
}

footer {
    background-color: black;
}